@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: #E8F9FD;
}

.dark-mode {
    background-color: #010201;
    color: white;
}
.w3-container{
    background-color: #82CD47;
}
.headingdefined{
    font-size: 25px;
}
.divhead{
    font-size: 40px;
    margin: 30px 10px;
    padding: 0 10px;
}

.main-heading {
    display: inline-block;
    padding: 0 80px;
    font-weight: bolder;
}
.sub-main-heading{
    font-size: 40px;
    padding: 0 15px;
    font-weight: 500;
}
.button1{
    color: white;
    background-color: #333333;
    cursor: pointer;
    width: 50px;
    height: 40px;
    top: 40px;
    border-radius: 15px;
}
.head1{
    font-size: 55px;
    width: 40%;
}
.head2{
    font-size: 45px;
    width: 40%;
}
.head3{
    font-size: 35px;
    width: 40%;
}
.head4{
    font-size: 28px;
    width: 40%;
}
.head5{
    font-size: 18px;
    width: 40%;
}
.head6{
    font-size: 12px;
    width: 40%;
}
.head-color{
    color: #2899f5;
}
.code{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 60px;
    padding: 0 20px;
    border-radius: 5px;
}
.container{
    font-size: 24px;
    margin: 30px 0px;
}
.code2{
    padding: 0 20px;
    background-color: #333333;
    color: white;
    height: 70px;
    font-size: 18px;
    border-radius: 5px;
}

.code6{
    padding: 0 20px;
    background-color: #333333;
    color: white;
    height: 280px;
    font-size: 18px;
    border-radius: 5px;
}
.code3{
    background-color: #333333;
    color: white;
    padding: 0 20px;
    border-radius: 5px;

    height: 140px;
}
.code4{
    height: 180px;
    color: white;
    border-radius: 5px;

    background-color: #333333;
}
.code5{
    
    height: 250px;
    color: white;
    border-radius: 5px;

    background-color: #333333;
}
.output{
    background-color: antiquewhite;
   
}
.sub-main-heading2{
        font-size: 30px;
        padding: 0 0px;
}
.btn-hamburger {
    position: absolute;
    opacity: 1;
}

.content {
    padding: 40px;
    margin: 40px;
}
.dltag{
    font-size: 18px;
    padding: 0 15px;
}
.desc-list{
    font-size: 20px;
}
.ul-shift{
    padding: 0 30px;
}

.darkMode {
    position: absolute;
    right: 20px;
    top: 20px;
}
.sub-main-heading3{
    font-size: 20px;
}
.shift-li{
    padding: 0 14px;
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}

.zoom {
    transition: transform .3s;
}

.zoom:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.w3-button{
    height: 74px;
    left:4px;
}