html {
    font-size: 20px;
}

body {
    background-color: white;
    color: black;
    border: 25px;

}
/* this is for main LEARNING HTML (HEAD) */
.mainhead{
  /* width: auto;
  border: 0px #0099ff;
  padding: 0px;
  margin: 0px; */
  color: black;
  text-align: center;
  
}
/* this is for heading layout */
.options{
  
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: right;
  cursor: pointer;
}

/* thi is for links */
a:link, a:visited{
  color: crimson;
  text-decoration: none;
}



a:hover {
    color: rgb(78, 103, 126);
}


/* this is for heading h2 */

/* h1{
  
  font-weight: bold;
} */

/* customizing headings content */
.divhead{
  
  border-left: medium outset crimson;
  border-radius: 4px;
  color: rgb(155, 36, 36);
  font-size: 43px;
  
}
/* this is for tables */
table, th, td {
    
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    border: 1px solid black;
}
  td {
    text-align: center;
  }

  center {
    margin-left: auto;
    margin-right: auto;
    
   
  }
  tr:hover {background-color: #D6EEEE;}
